h1{
    text-align: center;
}

body {
    margin: 0 125px;
}

.jumbotron {
    background-color: rgb(33, 33, 110);
    color: white;
    border-radius: 25px;
}



.panel-title {
    color: white;
    
}

.panel-default .panel-heading {
    background-color: rgb(33, 33, 110);
}

.glyphicon {
    margin-right: 5px;
}

.display-3 {
    font-family:'Nanum Myeongjo', serif;
    font-weight: bold;
}

.btn {
    background-color: rgb(135, 193, 212);
    color: white;
    border: none;
}

.btn-primary:hover {
    background-color: rgb(124, 223, 124);
}